html {
  width: 100%;
  min-height: 100%;
  background: linear-gradient(
    136deg,
    rgba(46, 9, 22, 0.97) 12.91%,
    rgba(32, 10, 43, 0.69) 87.68%
  );

  box-shadow: 26px 24px 90px 0px rgba(31, 26, 51, 0.13);
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-color: aqua;
  /* Colors */
  --pink: #f8d3eb;
  --red-pink: #ff5b79;
  --white: #ffffff;

  /* Mobile */
  --h1: 1.4rem;
  --h2: 1.15rem;
  --p: 0.9rem;
  --a: 0.8rem;
}
body {
  overflow-x: hidden;
}

/* xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
lg, large: 1200px
xl, extra-large: 1536px */

@media screen and (min-width: 600px) {
  html {
    --h1: 1.8rem;
    --h2: 1.5rem;
    --p: 1.1rem;
    --a: 1rem;
  }
}
@media screen and (min-width: 900px) {
  html {
    --h1: 2.2rem;
    --h2: 1.8rem;
    --p: 1.2rem;
    --a: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    --h1: 2.5rem;
    --h2: 2rem;
    --p: 1.3rem;
    --a: 1.2rem;
  }
}

@media screen and (min-width: 1536px) {
  html {
    --h1: 3rem;
    --h2: 2.5rem;
    --p: 1.4rem;
    --a: 1.3rem;
  }
}

h1 {
  font-size: var(--h1);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0375rem;
}
h2 {
  font-size: var(--h2);
  font-style: normal;
  font-weight: 900;
  line-height: 109%;
}
p {
  font-size: var(--p);
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

p,
h2 {
  color: var(--white);
}

a {
  color: var(--red-pink);
  font-size: var(--a);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  width: 1.81444rem;
  height: 1.65731rem;
  flex-shrink: 0;
}
.logo h1 {
  color: var(--white);
}

article.wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  flex-wrap: wrap;
}
svg.spooky-skull {
  width: 100%;
  height: 100%;
  overflow: initial;
  margin-left: 7%;
}

@media screen and (min-width: 900px) {
  article.wrapper {
    flex-wrap: nowrap;
  }
  svg.spooky-skull {
    margin-left: 0%;
    width: 50%;
  }
}
section.selling-point {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

section.selling-point h1 {
  color: var(--red-pink);
  text-transform: uppercase;
}

section.selling-point p {
  opacity: 0.8;
}

section.selling-point .action-buttons {
  display: flex;
  justify-content: center;
}

/* Skull animations */
g.right-eye,
g.left-eye {
  transform-box: fill-box;
  transform-origin: center;
  transform-style: preserve-3d;
  animation-name: eye-scale;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
}

@keyframes eye-scale {
  60% {
    transform: scale3d(1.2, 1.2, 1.2) translateX(15px);
  }
  80% {
    transform: scale3d(1.2, 1.2, 1.2) translateX(-15px);
  }

  100% {
  }
}

g.right-eye circle,
g.left-eye circle {
  animation-name: eye-close;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-direction: normal;
  clip-path: ellipse(100% 100% at 50% 50%);
  transition: clip-path 0.3s ease-in-out;
}
@keyframes eye-close {
  40% {
    clip-path: ellipse(50% 1% at 50% 50%);
  }
}

g.right-eye circle.confirmation,
g.left-eye circle.confirmation {
  transition: all 0.7s ease-in-out;
  clip-path: ellipse(100% 50% at 100% 100%);
  transform-origin: center;
  transform-box: border-box;
}
g.left-eye circle.confirmation {
  rotate: 32deg;
}

g[class*="fire"] {
  transform-origin: center;
  transform-origin: 50% 65%;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

g.fire-1 {
  animation-name: fire-1;
}

@keyframes fire-1 {
  50% {
    transform: skewX(-3.5deg) translateY(-20px) scaleY(1.05) rotateY(10deg);
  }

  100% {
    transform: skewX(3.5deg) translateY(20px) scaleY(0.9);
  }
}

g.fire-2 {
  animation-name: fire-2;
}

@keyframes fire-2 {
  50% {
    transform: skewX(1.5deg) translateY(10px) scaleY(1.05) rotateY(10deg);
  }

  100% {
    transform: skewX(-1.5deg) translateY(-10px) scaleY(0.9);
  }
}

g.fire-3 {
  animation-name: fire-3;
}

@keyframes fire-3 {
  50% {
    transform: skewX(3.5deg) translateY(20px) scaleY(0.9);
  }

  100% {
    transform: skewX(-3.5deg) translateY(-20px) scaleY(1.05);
  }
}
/* Skull animations end */

/* 3d transforms */

section.default-example {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  perspective: 950px;
  height: 100vh;
}
div#example-element {
  /* transform: rotate3d(2, -1, -1, -0.2turn); */
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s ease-in;
}

.front {
  background: rgba(90, 90, 90, 0.7);
  transform: translateZ(100px);
}

.top {
  background: rgba(210, 210, 0, 0.7);
  transform: rotateX(90deg) translateZ(300px);
}
.bottom {
  background: rgba(210, 0, 210, 0.7);
  transform: rotateX(-90deg) translateZ(300px);
}
.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  font-size: 60px;
  color: #fff;
}
