body {
}

html {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    136deg,
    rgba(46, 9, 22, 0.97) 12.91%,
    rgba(32, 10, 43, 0.69) 87.68%
  );

  box-shadow: 26px 24px 90px 0px rgba(31, 26, 51, 0.13);
  font-family: "Poppins", sans-serif;

  /* Colors */
  --pink: #f8d3eb;
  --red-pink: #ff5b79;
  --white: #ffffff;
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem 7rem 0 7rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  width: 1.81444rem;
  height: 1.65731rem;
  flex-shrink: 0;
}
.logo h1 {
  color: var(--white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 1.2rem */
  letter-spacing: 0.08rem;
}

.menu {
  display: flex;
  gap: 3rem;
}
.menu button {
  border-radius: 2.5625rem;
  border: 1px solid var(--red-pink);
  display: flex;
  padding: 0.625rem 1.25rem;
  align-items: center;
  gap: 0.625rem;
  color: var(--red-pink);
  background-color: transparent;
}
.menu ul {
  display: flex;
  gap: 1rem;
}
.menu li {
  list-style: none;
}

.menu li a {
  color: var(--red-pink);
  text-align: right;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

svg.spooky-skull {
  width: 83rem;
  height: 74rem;
  flex-shrink: 0;
  position: absolute;
  top: 0;
}

section.selling-point {
  display: flex;
  justify-content: center;
  height: 60rem;
  align-items: flex-end;
  padding-right: 30rem;
  flex-direction: column;
}
section.selling-point .wrapper {
  max-width: 30rem;
}
section.selling-point h1 {
  color: var(--red-pink);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0375rem;
  text-transform: uppercase;
}

section.selling-point h2 {
  color: var(--white);
  font-size: 4.25rem;
  font-style: normal;
  font-weight: 900;
  line-height: 109%;
}
section.selling-point p {
  color: var(--white);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  opacity: 0.8;
}

section.selling-point .action-buttons {
  display: flex;
  justify-content: space-between;
}

g.right-eye {
  transform-box: fill-box;
  transform-origin: center;
  transform-style: preserve-3d;
  animation-name: right-eye-animation;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes right-eye-animation {
  0% {
  }
  40% {
    transform: rotateX(90deg);
  }

  60% {
    transform: rotateX(0deg) scale3d(1.2, 1.2, 1.2) translateX(15px);
  }
  80% {
    transform: scale3d(1.2, 1.2, 1.2) translateX(-15px);
  }

  100% {
  }
}
