html {
  width: 100%;
  min-height: 100%;
  --background: linear-gradient(
    136deg,
    rgba(46, 9, 22, 0.97) 12.91%,
    rgba(32, 10, 43, 0.69) 87.68%
  );
  background: var(--background);

  box-shadow: 26px 24px 90px 0px rgba(31, 26, 51, 0.13);
  font-family: "Poppins", sans-serif;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-color: aqua;
  /* Colors */
  --pink: #f8d3eb;
  --red-pink: #ff5b79;
  --white: #ffffff;

  /* Mobile */
  --h1: 1.4rem;
  --h2: 1.15rem;
  --p: 0.9rem;
  --a: 0.8rem;
}
body {
  overflow-x: hidden;
  margin: 0;
}

/* xs, extra-small: 0px
sm, small: 600px
md, medium: 900px
lg, large: 1200px
xl, extra-large: 1536px */

@media screen and (min-width: 600px) {
  html {
    --h1: 1.8rem;
    --h2: 1.5rem;
    --p: 1.1rem;
    --a: 1rem;
  }
}
@media screen and (min-width: 900px) {
  html {
    --h1: 2.2rem;
    --h2: 1.8rem;
    --p: 1.2rem;
    --a: 1.1rem;
  }
}

@media screen and (min-width: 1200px) {
  html {
    --h1: 2.5rem;
    --h2: 2rem;
    --p: 1.3rem;
    --a: 1.2rem;
  }
}

@media screen and (min-width: 1536px) {
  html {
    --h1: 3rem;
    --h2: 2.5rem;
    --p: 1.4rem;
    --a: 1.3rem;
  }
}

h1 {
  font-size: var(--h1);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.0375rem;
}
h2 {
  font-size: var(--h2);
  font-style: normal;
  font-weight: 900;
  line-height: 109%;
}
p {
  font-size: var(--p);
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

p,
h2 {
  color: var(--white);
}

a {
  color: var(--red-pink);
  font-size: var(--a);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: var(--background);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logo img {
  width: 1.81444rem;
  height: 1.65731rem;
  flex-shrink: 0;
}
.logo h1 {
  color: var(--white);
}

/* 3d transforms */

section.cube-wrapper {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* perspective: 950px; */
  height: 100vh;
}

div.cube {
  --cube-dx: 100vh;
  width: 100vw;
  height: var(--cube-dx);
  transform-style: preserve-3d;
}

.f-1 {
  background: rgba(210, 210, 0, 0.7);
  transform: rotateX(0deg) translateZ(calc(var(--cube-dx) / 2));
}

.f-2 {
  background: rgba(90, 90, 90, 0.7);
  transform: rotateX(-90deg) translateZ(calc(var(--cube-dx) / 2));
}

.f-3 {
  background: rgba(210, 0, 210, 0.7);
  transform: rotateX(-180deg) translateZ(calc(var(--cube-dx) / 2));
}
.f-4 {
  background: rgba(164, 160, 164, 0.7);

  transform: rotateX(-270deg) translateZ(calc(var(--cube-dx) / 2));
}
.face {
  display: flex;
  backdrop-filter: blur(10px);
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  /* backface-visibility: visible; */
  font-size: 60px;
  color: #fff;
}

.face.active {
  backdrop-filter: blur(20px);
}
